# Data understanding

In [16]:
import pandas as pd

In [3]:
df = pd.read_excel("../data/raw/datos-sismicos.xlsx")

In [4]:
df.head()

,fecha UTC,hora UTC,latitud (º),longitud (º),profundidad (km),magnitud (M)
0,1960-01-13,15:40:34.00,-16.145,-72.144,60,7.5
1,1960-01-15,09:30:24.00,-15.000,-75.000,70,7.0
2,1960-01-17,02:57:58.00,-14.500,-74.500,150,6.4
3,1960-01-23,03:37:32.00,-12.500,-68.500,300,5.8
4,1960-01-30,05:07:24.00,-5.500,-77.500,100,5.7

In [5]:
df.count()

fecha UTC           25122
hora UTC            25122
latitud (º)         25122
longitud (º)        25122
profundidad (km)    25122
magnitud (M)        25122
dtype: int64

In [11]:
df.columns

Index(['fecha UTC', 'hora UTC', 'latitud (º)', 'longitud (º)',
       'profundidad (km)', 'magnitud (M)'],
      dtype='str')

In [15]:
for i in df.columns:
    print("- ", i, ": ", df[i].dtype)

-  fecha UTC :  str
-  hora UTC :  str
-  latitud (º) :  float64
-  longitud (º) :  float64
-  profundidad (km) :  int64
-  magnitud (M) :  float64